<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Danh Sách Sản Phẩm</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Tên Sản Phẩm
                                    </th>
                                    <th>
                                        Giá 
                                    </th>
                                    <th>
                                        Số Lượng
                                    </th>
                                    <td>
                                        Hình Ảnh Sản Phẩm
                                    </td>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Xà Phòng
                                        </td>
                                        <td>
                                            50000
                                        </td>
                                        <td>
                                            25
                                        </td>
                                        <td>
                                            <img class="img-sp" width="100px" src="/images/sp1.jpg">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success"><i
                                                    class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger"><i
                                                    class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Thêm Sản Phẩm</h4>
                        <p class="card-category"> Sản Phẩm Sẽ Được Thêm Ở Đây</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Tên Sản Phẩm
                                    </th>
                                    <th>
                                        Giá
                                    </th>
                                    <th>
                                        Số Lượng
                                    </th>
                                    <th>
                                        Hình Ảnh Sản Phẩm
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" placeholder="ID">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Tên SP">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Giá">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Số Lượng">
                                        </td>
                                        <td>
                                            <input type="file" placeholder="Image">
                                        </td>
                                        <td>
                                            <button class="btn btn-submit">Save</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>