<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Thông Tin Sản Phẩm</h4>
            <p class="card-category">Product</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Tên Sản Phẩm
                  </th>
                  <th>
                    Giá
                  </th>
                  <th>
                    Số Lượng
                  </th>
                  <td>
                    Hình Ảnh Sản Phẩm
                  </td>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Xà Phòng
                    </td>
                    <td>
                      50000
                    </td>
                    <td>
                      25
                    </td>
                    <td>
                      <img class="img-sp" width="100px" src="/images/sp1.jpg">
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">Thông Tin Khách Hàng</h4>
            <p class="card-category">Customer</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Tên Khách Hàng
                  </th>
                  <th>
                    Số Điện Thoại
                  </th>
                  <th>
                    Địa Chỉ
                  </th>
                  <th>
                    Ngày Sinh
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      150000
                    </td>
                    <td>
                      52
                    </td>
                    <td>
                      21/02/1999
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      250000
                    </td>
                    <td>
                      66
                    </td>
                    <td>
                      21/02/1999
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      600000
                    </td>
                    <td>
                      11
                    </td>
                    <td>
                      21/02/1999
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      420000
                    </td>
                    <td>
                      22
                    </td>
                    <td>
                      21/02/1999
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      210000
                    </td>
                    <td>
                      41
                    </td>
                    <td>
                      21/02/1999
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      135555
                    </td>
                    <td>
                      50
                    </td>
                    <td>
                      21/02/1999
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>